<?xml version="1.0"?>
<root>

  <log loggerMode="ERROR"/>

  <failuresRoot>

    <Failure name="OHU_NVRAM_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_INTERNAL_I2C_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_A2D_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_FLS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CP_INIT_FAILURE_HUDManager_FailuresManaer"/>
    <Failure name="OHU_BACK_LIGHT_OFF_DISCERETE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_VIDEO_PATH_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_LCD_DIGITAL_CONTROL_SIGNAL_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CP_KNOBS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_LVPS_AND_CAPACITORS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_ARINC_818_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_HIGH_TEMPERATURE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_DATA_AND_COMMAND_CRC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_LED_CONTROL_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CP_I2C_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_818_KEEP_ALIVE_COUNTER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CP_INTERNAL_I2C_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_LCD_DRIVER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_PREV_VIDEO_FRAME_CRC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CPS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_AC_TYPE_EXT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_CU_KEEP_ALIVE_COUNTER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_SR1_SYMB_FREEZE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISCRETE_PROGRAM_PIN1_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISCRETE_PROGRAM_PIN2_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISCRETE_PROGRAM_PIN3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISCRETE_PP_ODDPAR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISCRETE_PP_PICOPI_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_LED_CONTROL_EXT_PBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_DATA_AND_COMMAND_CRC_EXT_PBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_ARINC_818_KEEP_ALIVE_COUNTER_EXT_PBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_FRAME_CRC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_BACK_LIGHT_OFF_PBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="HUD_CU_ARINC_429_MAU_IN1_SR1_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="ARINC_429_RX_02_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_KEEP_ALIVE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="ARINC_429_RX_01_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="ARINC_818_TX_SR1_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="HUD_CU_LVDS_SR1_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EAGLE_FREEZE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EAGLE_GRAPHIC_MEMORY_INTERFACE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FRAME_FREEZE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EAGLE_FPGA_RGISTER_BUS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EAGLE_EXTERNAL_SYNC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_FLS_TOO_BRIGHT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_DEPLOYED_STOWED_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_BACKLIGHT_OFF_DISCRETE_EXT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_TOO_BRIGHT_EXT_PBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="MAU_APM_OHU_CRC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_PRESENT_POSITION_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_HEADING_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ROLL_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_PITCH_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_CRC_FREEZE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_HEATER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_LH_OPT_TRANSMITTER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_POWER_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_ARINC_429_RX_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_TVS_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_NVS_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS1_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS2_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS3_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS4_SENSOR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_TVS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_NVS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_DVS1_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_DVS2_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_DVS3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_FROZEN_DVS4_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_TVS_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_NVS_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS1_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS2_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS3_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DVS4_INTERNAL_TP_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_NUC_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_DDR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_VIDEO_INVALID_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="EVS_HUMODITY_HIGH_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_02_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_03_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_04_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_05_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_06_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_22_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_23_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_24_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_ARINC_429_RX_26_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_DEGRADED_IAMGE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_EAGLE_FPGA_GENERAL_ERRORS_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_EAGLE_FPGA_INTERRUPTS_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_EAGLE_FPGA_REGISTER_BUS_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_EXTERNAL_SYNCS_DETECTION_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_GC_CPLD_INTERRUPTS_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_GRAPHICS_MEMORY_IF_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_HORIZONTAL_FOM_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_LVDS_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_MON_TAWS_ALTITUDE_NCD_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_MON_TAWS_POSITION_NCD_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_NO_SELECTED_RUNWAY_FOR_LANDING_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_NVRAM_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_OBSTACLES_DATABASE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_OBSTACLES_DATABASE_EXPIRED_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_PCI1_SR1_CBIT_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_PCI1_ERROR_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_SELECTED_RUNWAY_IN_DATABASE_FALIURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_TAWS_ALTITUDE_MISCOMPARE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_TAWS_POSITION_MISCOMPARE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_TERRAIN_DB_ERROR_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_TERRAIN_STATIC_ERROR_THRESHOLD_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_VERTICAL_FOM_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="SVS_WATCHDOG_EXPIRATION_SR3_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_FLS_COMPARISON_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="OHU_BRIGHTNESS_COMMAND_ACKNOWLEDGE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="DISPLAY_KEEP_ALIVE_FAILURE_HUDManager_FailuresManager"/>
    <Failure name="NUMBER_OF_FAILURES_HUDManager_FailuresManager"/>
  </failuresRoot>
  
</root>